/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(../images/img01.gif) repeat-x;
	font: normal small Arial, '΢���ź�',Helvetica, sans-serif;
	color: #999999;
}

form {
}

fieldset {
	border: none;
}

legend {
	display: none;
}

h1, h2, h3 {
	margin: 0;
	color: #11A6D4;
}

h2 {
	margin-bottom: .5em;
	font-size: 1.8em;
}

h3 {
	margin-bottom: 1em;
	font-size: 1em;
}

p, blockquote, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.8em;
}

p {
}

blockquote {
}

ul {
	margin-left: 2em;
	list-style: square;
}

ul li {
}

ol {
	margin-left: 2em;
	list-style: lower-roman;
}

ol li {
}

a {
	color: #EA672E;
}

a:hover {
	text-decoration: none;
	color: #11A6D4;
}

img {
	border: none;
}

/* Boxed Style */

.boxed {
	margin-bottom: 1em;
	background: #F7F7F7 url(../images/img07.gif) repeat-x;
	border: 1px solid #CCCCCC;
}

.boxed .title {
	height: 29px;
	padding: 11px 0 0 27px;
	background: url(../images/img08.gif) no-repeat 10px 50%;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #FFFFFF;
}

.boxed .content {
	padding: 10px;
}

/* Header */

#header {
	width: 900px;
	height: 130px;
	margin: 0 auto;
	background: url(../images/img02.jpg) no-repeat;
}

/* Header > Logo */

#logo {
	float: left;
	padding: 55px 0 0 0;
}

#logo h1 {
	/*text-transform: uppercase;*/
	font-size: 2em;
}

#logo h2 {
	margin: 0;
	/*text-transform: uppercase;*/
	font-size: 1.2em;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Header > Top Menu */

#topmenu {
	float: right;
}

#topmenu ul {
	margin: 0;
	padding: 100px 0 0 0;
	list-style: none;
	line-height: normal;
}

#topmenu li {
	display: inline
}

#topmenu a {
	display: block;

	margin: 0 0 0 20px;
	padding: 0 0 0 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
}

#topmenu a:hover {
	text-decoration: underline
}

#topmenu1 {
	background: url(../images/img03.gif) no-repeat left center;
}

#topmenu2 {
	background: url(../images/img04.gif) no-repeat left center;
}

#topmenu3 {
	background: url(../images/img05.gif) no-repeat left center;
}

/* Menu */

#menu {
	width: 900px;
	height: 40px;
	overflow:hiddle;
	margin: 0 auto;
}

#menu ul {
	list-style: none;
	line-height: normal;
	overflow:hiddle;
	margin-top:-20px;
	margin-left:0px;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 26px;
	padding: 14px 18px 0 20px;
	background: url(../images/img06.gif) no-repeat;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first a {
	padding-left: 0;
	background: none;
}

/* Content */

#content {
	width: 900px;
	margin: 0 auto;
	padding: 20px 0;
}

#content2 {
	width: 1500px;
	margin: 0 auto;
	padding: 20px 0;
}

/* Content > Main */

#main {
	float: left;
	width: 900px;
}

/* Content > Main > Example */

#example {
}

/* Content > Main > Welcome */

#welcome {
	margin: 0 0 3em 0;
	padding: 10px 0 1.5em 0;
	border-bottom: 1px solid #CCCCCC;
}

/* Content > Sidebar */

#sidebar {
	margin-top:120px;
	margin-bottom:140px;
	margin-left:220px;
	float: left;
	width: 380px;
}

/* Content > Sidebar > Login */

#login {
}

#login label {
	display: block;
}

#login #inputtext1, #login #inputtext2 {
	width: 180px;
	margin-bottom: .5em;
	padding: 2px 5px;
	border: 1px solid #CCCCCC;
	font: normal small Arial, Helvetica, sans-serif;
	color: #999999;
}

#login #inputsubmit1 {
	float: right;
	width: 60px;
	margin-right: 7px;
	border: 1px solid #CCCCCC;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	font: normal small Arial, Helvetica, sans-serif;
}

#login p {
	margin: 0;
	padding-top: .2em;
	font-size: x-small;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates li {
	margin-bottom: 1em;
}

#updates h3 {
	margin: 0;
	padding: 0 0 0 10px;
	background: url(../images/img09.gif) no-repeat left center;
	font-size: x-small;
}

#updates p {
	margin: 0;
	padding: 0 0 0 10px;
	line-height: normal;
	font-size: .85em;
}

#updates a {
	text-decoration: none;
}

/* Content > Sidebar > Partners*/

#partners {
}

/* Footer */

#footer {
	clear: both;
	/*width: 900px;*/
	margin: 0 auto 2em auto;
	background: #F7F7F7 url(../images/img07.gif) repeat-x;
	border: 1px solid #CCCCCC;
}

/* Footer > Legal */

#legal {
	margin: 0;
	padding: 8px;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	font-weight: bold;
	color: #FFFFFF;
}

/* Footer > Links */

#links {
	margin: 0;
	padding: 10px;
	text-align: center;
}

/* table */
.common-table {width:100%;}
.common-table td {padding:4px 0;}
.common-table .colKey {color:#666666;width:70px;vertical-align:top;text-align:right;padding-right:10px;}
.common-table .colValue {overflow:hidden;}

/* data-table table */
.data-table {margin:4px auto;width:98%;table-layout:auto;word-break:break-all;word-wrap:break-word;}
.data-table td {vertical-align:top;height:28px;}
.data-table th a {color:#636363;}
.data-table .checkbox {width:25px;text-align:center;}
.data-table .manage-column {color:#ffffff;font-weight:bold;padding:0 8px;height:31px;line-height:31px;background: #F7F7F7 url(../images/img07.gif) repeat-x scroll left top;align:center;}
.data-table .data-column {padding:2px 8px;border-bottom:#DFDFDF 1px solid;vertical-align:middle;}
.data-table .data-column .rows-action {margin:2px 0;visibility:hidden;font-size:12px;}
.data-table .first-column {border-left:#DFDFDF 1px solid;}
.data-table .last-column {border-right:#DFDFDF 1px solid;}
.data-table .left-column {text-align:left;} 
.data-table .center-column {text-align:center;}
.data-table .right-column {text-align:right;}  
.data-table .data-column a {color:#21759B;text-decoration:none;}
.data-table .data-column a:hover {color:#D54E21;}

.tablebutton{
	width:50px;
	height:23px;
	float:center;
	line-height:20px;
}

/* formTable table */
#formTable input[type="text"],#formTable input[type="password"] {padding:3px 2px;}

/* form-toolbar */
.form-toolbar {margin: 4px 0 14px 2px;position:relative;}
.form-toolbar select,#formTable select {border:#DFDFDF 1px solid;width:150px;height:26px;}
.button, .link-button {padding:0 7px;height:26px;border:#C7C7C7 1px solid;cursor:pointer;background:url('../images/white-grad.png') #F8F8F8 repeat-x scroll left top;}
.button:hover, .link-button:hover {border:#696969 1px solid;text-decoration:none;}
.button:active, .link-button:active {background:#eee url('../images/white-grad-active.png') repeat-x scroll left top;}
.link-button {padding:2px 7px 3px 7px;line-height:26px;color:#000000;font-size:13px;text-decoration:none;}



